<h1> <%= @chef.name %> Feature Page</h1>

<p><%= link_to 'All Ingredients Used', "/chefs/#{@chef.id}/ingredients"%></p>

<section id='top_ingredients'>
  <%#@chef_top_ingredients.each do |ingredient| %>
    <%# ingredient.name %>
  <%# end %>
</section>
