<h1> Chef: <%=@chef.name %> </h1>

<p style="font-weight:bold;"> Most popular ingredients: </p>
<% number = 1 %>
<% @chef.most_popular.each do |ingred| %>
  <p><%=number%>. <%= ingred%></p>
  <%number += 1 %>
  <% end %>
  <br>

<%= link_to "See all of #{@chef.name}'s ingredients", "/chefs/#{@chef.id}/ingredients"%>
