<ul class="navbar">
  <li><%= link_to 'My Ingredients', chef_ingredients_path(@chef) %></li>
</ul>

<section id="headlines">
  <h3>The Spectacular Chef <%= @chef.name %>!</h3>
</section>

<section id="top_3">
  <% @chef.top_3_ingredients.each do |ingredient| %>
    <div id="ingredient-<%= ingredient.id %>">
      <%= ingredient.name %>
    </div>
  <% end %>
</section>
