<h1><%= @chef.name %></h1>

<%= link_to "Ingredient List", "/chefs/#{@chef.id}/ingredients" %>

<!-- <h2>Chef's Favorite Ingredients:</h2>
<% @chef.favorite_ingredients.each do |ingredient| %>
<%= ingredient.name %><br>
<% end %> -->
