<h1><%= "#{@dish.name} Show Page" %></h1>

<section id="name">
  <p><%= "Dish Name: #{@dish.name}"%></p>
</section>

<section id="description">
  <p><%= "Dish Description: #{@dish.description}"%></p>
</section>