
<h1> <%= @dish.name %> </h1>

<h2> Chef: <%= @dish.chef.name %> </h2>

<h3> <%= @dish.description %> </h3>

<section>
  <figure>
    <figcaption>Ingredients: </figcaption>
      <ol>
        <% @dish.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ol>
  <figure>
</section>
