<header>
  <%= content_tag :h1, "#{@dish.name}, by Chef #{@dish.chef.name}" %>
</header>

<article class="<%= @dish.name %>-ingredients">
  <header>
    <%= content_tag :h2, "#{@dish.name} Ingredients:" %>
  </header>
  <main>
    <ul>
      <% @dish.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  </main>
</article>
