<h1>dish show</h1>

<%= @dish.name %>
<%= @dish.description %>

<section>Ingredients
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
  <% end %>
</section>

<section>Chef
  <%= @dish.chef.name %>
</section>
