<section class="dish">
  <h2><%= @dish.name %></h2>
  <i><%= @dish.description %></i>
</section>

<h4 class="chef"><%= @dish.chef.name %></h4>

<section class="ingredients">
  <ul>
    <% @dish.ingredients.each do |ingredient| %>
      <li class="ingredient"><%= ingredient.name %></li>
    <% end %>
  </ul>

</section>
